<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Heavy Reps</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <div class="logo">Heavy Reps</div>
    <div class="usuario">
        🔔 Olá, {{ session["usuario_nome"] }}
        <a href="{{ url_for('logout') }}">Sair</a>
    </div>
</header>

<div class="layout">
    <aside>
        <a class="ativo" href="{{ url_for('aulas') }}">🏠 Início</a>
        <a href="#">💪 Treinos</a>
        <a href="#">🍽 Dieta</a>
        <a href="#">📈 Evolução</a>
        <a href="#">📸 Check-in</a>
        <a href="#">💬 Coach</a>
        <a href="#">👤 Perfi</a>
        <a href="#">⚙️ Configurações</a>

    </aside>

    <main>
        {% block conteudo %}{% endblock %}
    </main>
</div>

</body>
</html>