<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Shaolin Gym - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">

    <div class="login-card">
        <h1>Shaolin Gym</h1>
        <p>oi sua jornada Shaolin</p>

        {% if erro %}
            <div class="erro">{{ erro }}</div>
        {% endif %}

        <form method="POST">
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>
            <button type="submit">Entrar</button>
        </form>

        <small>Teste: joao@email.com | Senha: 123</small>
    </div>

</body>
</html>